<!doctype html>
<html>
  <head>
    <title>Raffup</title>
  </head>

  <body>

    <a class="login" href="https://secure.meetup.com/oauth2/authorize?client_id=mdvcot05523d0o1qfl7rfhjt8a&response_type=token&redirect_uri=http://localhost:8000">Login with Meetup</a>

    <section class="meetup"></section>

    <section class="attendees"></section>

    <script type="text/template" class="meetup-tpl">
      <h3><%= name %></h3>
      <p>
        <%= new Date(time).toDateString() %> <br />
        <%= yes_rsvp_count + ' ' + group.who %>
      </p>
    </script>

    <script type="text/template" class="attendees-tpl">
      <% attendees.forEach(function(attendee) { %>
        <% if (attendee.member_photo) { %>
          <img src="<%= attendee.member_photo.thumb_link %>"
            title="<%= attendee.member.name %>" />
        <% } else { %>
          <img src="https://randomuser.me/api/portraits/lego/1.jpg"
            style="height:80px;width:80px" />
        <% } %>
      <% }) %>
    </script>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="js/events.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/meetup.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
