<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>

    <title>Vegas.JS(raffle)</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Press+Start+2P" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>

    <main>
      <h2>Vegas.<span class="rainbow">JS(raffle)</span></h2>

      <a href="https://secure.meetup.com/oauth2/authorize" class="login blink border">
        Login with Meetup
      </a>

      <section class="meetup"></section>

      <section class="winner animated"></section>

      <section class="attendees animated"></section>
    </main>

    <footer>
      <div class="promote-self">
        <a href="//twitter.com/zpnk">@zpnk</a>
        &amp;&amp;
        <a href="//twitter.com/seanghagstrom">@seanghagstrom</a>
      </div>

      <div class="come-hang">
        <a href="//twitter.com/vegasjs">@vegasjs</a>
      </div>

      <div class="fork-this">
        fork(<a href="//github.com/zpnk/raffup">this</a>)
      </div>
    </footer>

    <script type="text/template" class="meetup-tpl">
      <h3><%= name %></h3>
      <p>
        <%= time %> <br />
        <%= rsvps + ' ' + who %>
      </p>
      <a class="raffle blink border">
        Raffle!
      </a>
    </script>

    <script type="text/template" class="attendees-tpl">
      <% attendees.forEach(function(attendee) { %>
        <img src="<%= photo(attendee) %>"
            title="<%= attendee.member.name %>" />
      <% }) %>
    </script>

    <script type="text/template" class="winner-tpl">
      <h4>Congratulations, <span class="rainbow"><%= name %></span>!</h4>
      <img src="<%= photo %>" class="border" />
    </script>

    <script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/underscorejs/1.8.2/underscore-min.js"></script>
    <script src="js/events.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/meetup.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
